<p>authorsignin works!</p>
<div id="signinContainer">
    Author Name : <input type="text" [(ngModel)]="loginRequest.authorname" placeholder="Enter Author Name">
    {{this.signInBlankResponse.authorname}}
    <br/>

Author Password : <input type="password" [(ngModel)]="loginRequest.password" placeholder="Enter Password">
{{this.signInBlankResponse.password}}<br/>
<button (click)="authorSignIn()">Signin</button>
<p>{{signInIvalidResponse}}</p>
</div>

<div id="authorhomeContainer" style="display:none">

</div>
