<p>updatebook works!</p>
<!--<div id="updatebookContainer">
    Book title : <input type="text" [(ngModel)]="book.title" placeholder="Enter Book title">

   
Book category : <input type="text" [(ngModel)]="book.category" placeholder="Enter Book category">

    
Book Price : <input type="text" [(ngModel)]="book.price"  >

    
Book publisher : <input type="text" [(ngModel)]="book.publisher" placeholder="Enter Book publisher">

    
Book published Date : <input type="text" [(ngModel)]="book.publisheddate" placeholder="Enter Book published Date">

   
Book chapeters : <input type="text" [(ngModel)]="book.chapters" placeholder="Enter Book chapeters">

    


    <button (click)="updateBook()">Create Book</button>
</div>-->
