
<div *ngIf="authorBooksContainerFlag" id="authorBooksContainer">
    <h2>Welcome {{authorName}}</h2>

    <div class="rows" >
      
        <p class="error-messages">{{nobookFoundMessage}}</p>
        <div *ngFor="let book of authorBooks">
          <div class="column" >
            <img src="assets/book{{book.id}}.jpg" alt="No book image" width="220" height="220">
              <div style="text-align: center;font-size: small;">
              <button class="booklink btn btn-link" (click)="readBook(book)">{{book.title}}</button><br/>
               <span style="color:#163f68;">@Rs. {{book.price}} </span><br/>
                <button (click)="editbook(book)" class="btn btn-secondary">Edit Book</button> 
              </div>
          </div> 
        </div>
    </div>
  </div>
  
<!-------------orignial-->
<div *ngIf="bookcontentFlag" id="contentofbook">
  <h2></h2>
<div class="bookcontent">
  <br/>
  <img src="assets/book{{readcontentbook.id}}.jpg">
    <h2>{{readcontentbook.title}}</h2>
    <h3>Index</h3><br/>
    <P>Chapters---------------------------------------------------------------Page No</P>
    <p>Chapter1-------------------------------------------------------------------- 1-10</p>
    <p>Chapter2------------------------------------------------------------------- 11-25</p>
    <p>Chapter3------------------------------------------------------------------- 26-40</p>
      <h2>Chapter 1</h2>
      <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
      <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
      <h2>Chapter 2</h2>
      <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
      <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
      <h2>Chapter 3</h2>
      <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
      <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
</div>
</div>
<!-------Oringinal-->
<!-- <div id="authorBookContainer">
    <div id="searchbookContainer">
        <input type="text" [(ngModel)]="searchbookdata.category" placeholder="Enter Category">
        <input type="text" [(ngModel)]="searchbookdata.author" placeholder="Enter Author">
        <input type="text" [(ngModel)]="searchbookdata.price" placeholder="Enter Price">
        <input type="text" [(ngModel)]="searchbookdata.publisher" placeholder="Enter Publisher">
        <button (click)="searchBooks()">Search Books</button>
        
    </div>
     <div class="row" >
      <p>{{nobookFoundMessage}}</p>
    <div *ngFor="let book of Books">
    <div class="column card" >
        <div class="column1" style="background-color:red">
            {{book.title}}<br/><span style="font-size: 20px">{{book.category}}</span>
            <br/><span style="font-size: 20px">{{book.publisher}}</span>
        </div>
        <h4>{{book.title}}</h4>
        Chapeters : {{book.chapters}}<br/>
        Publisheddate: {{book.publisheddate}}<br/>
        <button (click)="editbook(book)">edit Book</button>
    </div> 
</div>
<div class="column card">
    <div style="text-align: center;margin:auto;">
        <button><a routerLink="/createbook">create book</a></button>
    </div>
</div>
</div>
  </div>
  
<div *ngIf="flag" id="editBookContainer">
    Book title : <input type="text" [(ngModel)]="hastoeditbook.title" placeholder="Enter Book title">

    {{updatebookblankResponse.title}}<br/>
Book category : <input type="text" [(ngModel)]="hastoeditbook.category" placeholder="Enter Book category">

    {{updatebookblankResponse.category}}<br/>
Book Price : <input type="text" [(ngModel)]="hastoeditbook.price"  >

    {{updatebookblankResponse.price}}<br/>
Book publisher : <input type="text" [(ngModel)]="hastoeditbook.publisher" placeholder="Enter Book publisher">

    {{updatebookblankResponse.publisher}}<br/>
Book published Date : <input type="text" [(ngModel)]="hastoeditbook.publisheddate" placeholder="Enter Book published Date">

    {{updatebookblankResponse.publisheddate}}<br/>
Book chapeters : <input type="text" [(ngModel)]="hastoeditbook.chapters" placeholder="Enter Book chapeters">

    {{updatebookblankResponse.chapters}}<br/>
    
    <button (click)="updateBook()">Update Book</button>

</div>
   -->
